.rec-dot_active {
  background-color: #000 !important;
  box-shadow: 0 0 1px 3px #000 !important;
}
.rec-dot:focus,
.rec-dot:hover {
  box-shadow: 0 0 1px 3px #000 !important;
}
.rec-dot_active:focus,
.rec-dot_active:hover {
  background-color: #000 !important;
  box-shadow: 0 0 1px 3px #000 !important;
}

/* .rec.rec-arrow {
  display: none;
} */
